* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    rgb(214, 247, 214),
    rgb(235, 153, 153),
    rgb(125, 125, 226)
  );
  height: 100vh;
  position: relative;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 5px 2px 5px 5px rgba(12, 11, 11, 0.3);
  width: 500px;
  /* margin: 0 auto; */
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 35%;
  color: bisque;
}

.main h1,
input,
select,
button {
  margin: 1rem;
}

.main h1 {
  font-size: 3rem;
}

.main input {
  font-size: 1.5rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid bisque;
  outline: none;
  color: rgb(247, 219, 185);
}

.main input:focus {
  background: transparent;
}

.main button {
  width: 15rem;
  font-size: 1rem;
  background: transparent;
  color: bisque;
}

.main select {
  background: transparent;
  color: bisque;
  width: 15rem;
  outline: none;
}
